
@font-face {
  font-family: "Galano";
  src: url("css/Fonts/europa.woff");
  src: url("css/Fonts/europa.woff") format("woff"),
  url("css/Fonts/europa.otf") format("opentype"),
  }

  @media (prefers-color-scheme: dark) {
    body, header, .navbar-custom { background:  #212121; color: rgb(223, 223, 223); }
    
    .navbar-custom .navbar-nav .nav-link  {color: rgb(218, 218, 218); text-transform: uppercase;}
    .navbar-custom .navbar-brand {color: white;}
    .navbar-custom .nav-item.active, .navbar-custom .nav-item:hover {color: white;}
    /* .custom-nav-toggle {border-color: white;} */


    .feedback-input { color: rgb(253, 252, 252); border:2px solid rgb(170, 170, 170);}
    .feedback-input:focus { border:2px solid white; }

    .aboutHeader {color: rgb(223, 223, 223);}

    .footer-text {color: rgb(223, 223, 223)}

    .about-view-shadow {box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 1px 25px 0 rgba(255, 255, 255, 0.19);}

    a.view-image {
      color: white;
    }

    .projectHeader {
      background-color: #262626
    }

    .footer {
      background-color: #262626
    }

  }
  
  @media (prefers-color-scheme: light) {
    body, header, .navbar-custom { background: rgb(254,254,254); color:  #121212; }
    
    .navbar-custom .navbar-nav .nav-link {color: #fb612d; text-transform: uppercase;}
    .navbar-custom .navbar-brand { color: black; }
    .navbar-custom .nav-item.active, .navbar-custom .nav-item:hover {color: black;}
    /* .custom-nav-toggle {border-color: #fb612d;} */

    .feedback-input { color: black; border:2px solid #fb612d;}
    .feedback-input:focus { border:2px solid rgb(184, 184, 184); }

    .aboutHeader {color: #fb612d;}
    
    .footer-text {color: black}

    .about-view-shadow {box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 25px 0 rgba(0, 0, 0, 0.19);}

    a.view-image {
      color: #fb612d;
    }

    .projectHeader {
      background-color: #F2F2F2
    }

    .footer {
      background-color: #F2F2F2
    }

  }

  @media screen and (min-width: 601px) {
    h1.head {
      font-size: 65px;
    }

    img.chevron {
      height: 60px;
      width: 60px;
    }

    p.head {
      font-size: 34px;
    }

    .head-container {
      height: 700px;
    }

    p.projects {
      padding: 10px 5% 2em 5%
    }

    .customContainer {
      width: 80%;
    }

    p.nameHeader {
      font-weight: 600;
       font-size: 40px;
        margin-left: 20px;
         text-align:
          center;
    }

    p.underNamePr {
      font-weight:300;
       font-size: 22px;
        text-align: center;
    }

  }
  
  /* If the screen size is 400px wide or less, change some contents size */
  @media screen and (max-width: 600px) {
    h1.head {
      font-size: 42px;
    }

    img.chevron {
      height: 45px;
      width: 45px;
    }

    p.head {
      font-size: 23px;
    }

    .head-container {
      height: 530px;
    }

    p.projects {
      padding: 0 auto;
    }

    .customContainer {
      width: 80%;

    }

    p.nameHeader {
      font-weight: 600;
       font-size: 26px;
        margin-left: 20px;
         text-align:
          center;
    }

    p.underNamePr {
      font-weight:300;
       font-size: 20px;
        text-align: center;
    }


  }
  

.navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  margin-left: 45px;
}

.nav-link {
    /* display: inline-block; */
    margin-right: 45px;
    padding-top: 5px;
    /* position: relative; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 19px;
    font-weight: 300;
}

.navbar-custom {
  padding-right: 5%;
}


::selection {
  background: #f79676; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #f79676; /* Gecko Browsers */
}


.customContainer {
    margin: 0 auto;
    position: relative;
}

.head-container {
  background-image: url("https://i.ibb.co/LkbXzdT/bc.png");
  /* background-color: #fb612d; */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  position: relative;
}

h1.head {
  font-weight: 600;
  /* font-size: 65px; */
  color: white;
  letter-spacing: 1px;
  text-shadow: 1px 0 5px black;
}

p.head {
  font-weight: 400;
  padding-top: 10px;
  /* font-size: 34px;  */
  color: white; 
  letter-spacing: 2px; 
  text-shadow: 1px 0 5px black
}

p.projects {
  font-weight:300;
  font-size: 22px;
  text-align: center;
  
}

img.chevron {
  position: absolute;
  bottom: 0px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blogContainer {
  width: 50%;
  margin: 0 auto;
  position: relative;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  margin-top: 20px;
  /* padding-bottom: 3%; */
  display: table; 
}

.blogImage {
  width: 100%;
  vertical-align: top;
  border-radius: 20px;
  
  
}

.blogTitle {
  font-weight: 400;
  padding: 2%;
  font-size: 22px;
  text-align: center;
}

.blogDate {
  font-weight: 300;
  padding-top: 5%;
  margin-bottom: -1%;
  padding-left: 1%;
  color: black;
  font-size: 14px;
  text-align: start;
}



header {
    background-color:#F7F7F9;
    /* box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.19); */
    /* position: sticky; */
    top: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
}

header::after {
    content: '';
    display: table;
    clear: both;
    
}

.logo {
    float: left;
    margin-left: 11%;
    /* padding: 2px 0; */
}

.navigation {
    float: right;
    
}

body {
    /* background-color: #fdfdfd; */
    margin: 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navigation li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.navigation a {
    /* color: rgb(109, 109, 109); */
    color: #fb612d;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a:hover {
    color: #000;
}


.navigation a::before {
    content: '';
    display: block;

    height: 5px;
    width: 0%;

    /* background-color: #444; */
    background-color: #fb612d;

    position: absolute;
    top: 0;

    transition: ease-in-out 250ms;

    
}

.navigation a:hover::before {
    width: 100%;
}


.image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.footer {
  /* background-color: #212121; */
  width: 100%;
  height: 100%;
  padding-top: 4%;
  padding-bottom: 1.5%;
  float: inline-end;
}

.footer-text {
  text-transform: capitalize;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  margin-top: -20px;
}

.btnContainer {
  text-align: right;
}

.btn {
  border: 1px solid black;
  background: none;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin-top: -7%;
  margin-right: 1%;
  border-radius: 20px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background: black;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;

}

.btn1 {
  color: black;

}

.btn1::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;

}

.btn1:hover::before {
  height: 180%;

}


.btn1:hover {
  color: white;

}

.aboutHeader {
  padding-bottom: 3%;
  text-align: center;
  /* color: #fb612d; */
}

p.about {
  font-weight:200;
  font-size: 22px;
  text-align: left;
  padding-bottom: 2%;
}

p.blockContent {
  color: rgb(155, 153, 153);
  text-align: center;
  font-size: 17px;
  font-family: 'Titillium Web';
  font-weight: 300;
}

.feedback-input {
  font-family: 'Titillium Web', sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  /* border:2px solid #fb612d; */
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Titillium Web', sans-serif;
  width: 30%;
  background:#fb612d;
  border-radius:7px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:22px;
  padding-top:5px;
  padding-bottom:5px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:600;
  float: right;
  margin-bottom: -80px;
}
[type="submit"]:hover { background:#fb612d; }


.bttn-default {
  color: #fff;
}
.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-minimal {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-minimal:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: '';
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-minimal:before {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: '';
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-minimal:hover,
.bttn-minimal:focus {
  opacity: 0.9;
}
.bttn-minimal:hover:after,
.bttn-minimal:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-10px) rotate(0.001deg);
          transform: translateX(-10px) rotate(0.001deg);
}
.bttn-minimal:hover:before,
.bttn-minimal:focus:before {
  opacity: 1;
  -webkit-transform: translateX(10px) rotate(0.001deg);
          transform: translateX(10px) rotate(0.001deg);
}
.bttn-minimal.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-minimal.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-minimal.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-minimal.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-minimal.bttn-default {
  color: #fff;
}
.bttn-minimal.bttn-primary {
  color: #fb612d;
}
.bttn-minimal.bttn-warning {
  color: #fb612d;
}
.bttn-minimal.bttn-danger {
  color: #ff5964;
}
.bttn-minimal.bttn-success {
  color: #28b78d;
}
.bttn-minimal.bttn-royal {
  color: #bd2df5;
}



.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}
.bttn-warning {
  color: #feab3a;
}
.bttn-danger {
  color: #ff5964;
}
.bttn-success {
  color: #28b78d;
}
.bttn-royal {
  color: #bd2df5;
}
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-unite {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #1d89ff;
  border-radius: 100px;
  background: #fff;
  color: #1d89ff;
  -webkit-transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), border-color 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: #d6e3ff;
  content: '';
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(-110%, -10%, 0) skewX(-20deg);
          transform: translate3d(-110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: rgba(214,227,255,0.7);
  content: '';
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(110%, -10%, 0) skewX(-20deg);
          transform: translate3d(110%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover,
.bttn-unite:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.3);
  color: #1d89ff;
  -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-unite:hover:before,
.bttn-unite:focus:before {
  opacity: 1;
  -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(-50%, -10%, 0) skewX(-20deg);
          transform: translate3d(-50%, -10%, 0) skewX(-20deg);
}
.bttn-unite:hover:after,
.bttn-unite:focus:after {
  opacity: 1;
  -webkit-transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.25s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(50%, -10%, 0) skewX(-20deg);
          transform: translate3d(50%, -10%, 0) skewX(-20deg);
}
.bttn-unite.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}
.bttn-unite.bttn-xs:hover,
.bttn-unite.bttn-xs:focus {
  box-shadow: 0 1px 4px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}
.bttn-unite.bttn-sm:hover,
.bttn-unite.bttn-sm:focus {
  box-shadow: 0 1px 6px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}
.bttn-unite.bttn-md:hover,
.bttn-unite.bttn-md:focus {
  box-shadow: 0 1px 8px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}
.bttn-unite.bttn-lg:hover,
.bttn-unite.bttn-lg:focus {
  box-shadow: 0 1px 10px rgba(58,51,53,0.3);
}
.bttn-unite.bttn-default {
  border-color: #1d89ff;
  color: #1d89ff;
}
.bttn-unite.bttn-default:hover,
.bttn-unite.bttn-default:focus {
  background: #d6e3ff;
  color: #1d89ff;
}
.bttn-unite.bttn-default:before {
  background: #a7c3ff;
}
.bttn-unite.bttn-default:after {
  background: #d6e3ff;
}
.bttn-unite.bttn-primary {
  border-color: #1d89ff;
  color: #1d89ff;
}
.bttn-unite.bttn-primary:hover,
.bttn-unite.bttn-primary:focus {
  background: #1d89ff;
  color: #fff;
}
.bttn-unite.bttn-primary:before {
  background: #006de3;
}
.bttn-unite.bttn-primary:after {
  background: #1d89ff;
}
.bttn-unite.bttn-warning {
  border-color: #fb612d;
  color: #fb612d;
}
.bttn-unite.bttn-warning:hover,
.bttn-unite.bttn-warning:focus {
  background: #feab3a;
  color: #fff;
}
.bttn-unite.bttn-warning:before {
  background: #f89001;
}
.bttn-unite.bttn-warning:after {
  background: #feab3a;
}
.bttn-unite.bttn-danger {
  border-color: #ff5964;
  color: #ff5964;
}
.bttn-unite.bttn-danger:hover,
.bttn-unite.bttn-danger:focus {
  background: #ff5964;
  color: #fff;
}
.bttn-unite.bttn-danger:before {
  background: #ff1424;
}
.bttn-unite.bttn-danger:after {
  background: #ff5964;
}
.bttn-unite.bttn-success {
  border-color: #28b78d;
  color: #28b78d;
}
.bttn-unite.bttn-success:hover,
.bttn-unite.bttn-success:focus {
  background: #28b78d;
  color: #fff;
}
.bttn-unite.bttn-success:before {
  background: #209271;
}
.bttn-unite.bttn-success:after {
  background: #28b78d;
}
.bttn-unite.bttn-royal {
  border-color: #bd2df5;
  color: #bd2df5;
}
.bttn-unite.bttn-royal:hover,
.bttn-unite.bttn-royal:focus {
  background: #bd2df5;
  color: #fff;
}
.bttn-unite.bttn-royal:before {
  background: #a20bdd;
}
.bttn-unite.bttn-royal:after {
  background: #bd2df5;
}